<% @meetups.each_slice(3) do |meetups| %>
  <div class="row">
    <% meetups.each do |meetup| %>
      <div class="col-md-4">
        <div class="meetup">
          <div class="image_wrapper">
            <%= link_to meetup do %>
              <%= image_tag meetup.image.url(:medium) %>
            <% end %>
            <h2><%= meetup.title %></h2>  
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>