<% @posts.each_slice(3) do |posts| %>
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-md-4">
        <div class="meetup">
          <div class="image_wrapper">
            <%= link_to post do %>
              <%= image_tag post.image.url(:medium) %>
            <% end %>
            <h2><%= post.title %></h2>  
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>